body header {
	background-image: url("dark-web-laptop.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-position:center;
	height:36em;
	opacity:0.8;
}
.horizontal-list{
	list-style:none;

}
.text-center{
	text-align:center;
}
.horizontal-list li{
	display:inline;
	padding:3rem 2rem 2rem 2rem;
	margin-top:2rem;
	font-size:1.5rem;
	font-style:unset;
	color:darkblue;
}
	.horizontal-list li a {
		text-decoration: none;
		transition: color 0.5s;
	}
.horizontal-list li:hover {
	text-decoration:double;
}
	.horizontal-list li a:hover {
		text-decoration: underline;
		
	}
	#name {
		text-align: center;
		font-size: 70px;
		color: #f5f2d0;
		margin-top: 6vh;
		font-family: Book Antiqua;
	}
.img{
	height:30px;
	width:30px;
}
#about {
	height: auto;
	width: 100%;
	position: relative;
	padding: 20px;
	font: bold 2rem Didot
}
#img{
	height:12rem;
	width:12rem;
	margin:auto;
}
	#img > img {
		height: 100%;
		width: 100%;
		border-radius: 50%;
		margin-top: -6rem;
		border: solid 3px white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
#about{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.symbol img:hover {
	
	border-radius:50%;
	text-decoration:line-through;
	box-shadow:0px 0px 6px 2px black;
	height:25px;
	width:25px
}
#skills {
	background-color: #D3D3D3;
	height: auto;
	width: 100%;
	position: relative
}
.skills{
	color:darkblue;
}
#container {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 20px;
	align-items: center;
	align-content: center;
	align-self: center
}
.skills-set {
	margin: 4rem;
	padding: 0px 4rem 0px 4rem;
	background-color: #6577B3;
	border: solid 2px #6577B3;
	border-radius: 1rem;
	text-size-adjust: 175%;
	text-align:center;
	


}


	.skills-set:hover {
		animation-name: shadowin;
		animation-duration: 0.5s;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	}
.education {
	background-color: #0f0f0f;
	#margin-top:1rem;
	border: 1px solid black;
	border-radius: 1rem;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	border:none;
	font-size:1.2rem
}
.card-title  {
	font-size: 1.5rem
}
.card-subtitle{
	font-size:1.2rem;
}
.education:hover {
	animation-name: shadowout;
	animation-duration: 1s;
	box-shadow: none;
}
		@keyframes shadowout{
			from {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
			}
			to {
				box-shadow: none;
			}
		}

@keyframes shadowin {
	from {
		box-shadow: none;
	}

	to {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
	}
}
.container{
	margin-top:1rem;
	height:auto;
	width:auto;
}